pandas
scikit-learn
streamlit
st_pages
numpy
snscrape
nltk
imutils
tensorflow
tensorflow-gpu==2.5.0
tensorflow_hub==0.12.0
opencv-python-headless
protobuf==3.20
hydralit_components
datetime
googlesearch-python
