button[title="View fullscreen"]{visibility: hidden;}
header {visibility: hidden;}
footer {visibility: hidden;}
.css-lyhoi4.e16nr0p32 {visibility: hidden;}
.viewerBadge_link__1S137 {visibility: hidden;}

[data-testid="stVerticalBlock"] {
background: rgba(138, 156, 253, 0.15);
border-radius: 15px 50px;
padding: 0px 16px;
}
